:root {
    --fast: .25s;
    --normal: .5s;
    --slow: 1s;
    --snail: 2s;

    --dark: rgb(20,20,20);

    --action: rgb(0,107,255);
    --action_1: rgb(25,132,255);

    --location: rgb(0,255,135);
    --location_1: rgb(60, 255, 150);

    --text-lightsurface: rgb(20, 20, 20);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    bottom: 0;
}

*:not(code) {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    margin: 0;
    text-decoration: none;
    padding: 0;
    list-style: none;
}


::-webkit-scrollbar {
    background: rgb(20,20,20);
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, .2);
    border-radius: 20px;
}

nav > * {
    list-style: none;
}

nav {
    position: absolute;
    padding: 15px 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

nav ul li{
    padding-left: 10px;
}

nav ul li .title{
    padding-right: 10px;
}

nav .title {
    font-size: 30px;
}

.container {
    scroll-snap-type: y mandatory; 
    height: 100vh;
    overflow-x: hidden;
}

section {
    height: 100vh;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    padding: 15px;
}

button {
    background-color: var(--action);
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    transition: background-color var(--fast), transform var(--fast);
    margin: 5px;
}

button:active {
    transform: scale(.9);
}

button:hover {
    background-color: var(--action_1);
    box-shadow: 0 0 8px var(--action_1);
}

button[link] {
    background-color: var(--location);
    box-shadow: 0 0 8px var(--location);
}

button[link]:hover {
    background-color: var(--location_1);
    box-shadow: 0 0 8px var(--location_1);
}

button[view] {
    background-color: var(--location);
    box-shadow: 0 0 8px var(--location);
}

button[view]:hover {
    background-color: var(--location_1);
    box-shadow: 0 0 8px var(--location_1);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-v {
    display: flex;
    align-items: center;
}

.center-h {
    display: flex;
    justify-content: center;
}

.bigger-than {
    overflow-x: scroll;
    overflow-y: scroll;
}

.align-center {
    text-align: center;
}


.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.align-left {
    display: flex;
    justify-content: left;
}

section:nth-child(odd) {
    background-color: rgb(20,20,20);
}

section:nth-child(even) {
    background-color: rgb(30,30,30);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(100px, 80%, 500px);
}

.form > * {
    margin-bottom: 15px;
    width: 100%;
}

.form > *:not(button) {
    text-align: center;
}

.form > input {
    width: 100%;
}

.form > textarea {
    width: 100%;
    resize: vertical;
}

.lastpage > .toTopButton {
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 40px;
    transition: all var(--fast) ease-in-out;

}

.lastpage.visible > .toTopButton {
    opacity: 1;
    bottom: 30px;
}


.project-card {
    width: 80%;
}

code.afterColor, code.afterColor2 {
    transition: color var(--fast) ease-in-out var(--slow);
}

.detect.visible code.afterColor {
    color:lawngreen;
}

.detect.visible code.afterColor2 {
    color: palevioletred;
}


/* #region basic animations */

.slide-up {
    transition: all var(--slow) ease-in-out, opacity var(--normal) ease-out;
    transform: translateY(50px);
    opacity: 0;
}

.slide-up.visible {
    opacity: 1;
    transform: translateY(0);
    margin-top: 0;
}

.slide-down {
    transition: all var(--slow) ease-in-out, opacity var(--normal) ease-out;
    transform: translateY(-50px);
    opacity: 0;
}

.slide-down.visible {
    opacity: 1;
    transform: translateY(0);
}

.pop-in {
    transition: all var(--normal) ease-in-out, opacity var(--normal) ease-out;
    transform: scale(1.1);
    opacity: 0; 
}

.pop-in.visible {
    transform: scale(1);
    opacity: 1; 
}

.pop-out {
    transition: all var(--normal) ease-in-out, opacity var(--normal) ease-out;
    transform: scale(.8);
    opacity: 0; 
}

.pop-out.visible {
    transform: scale(1);
    opacity: 1; 
}

.bounce {
    transition: all var(--slow) cubic-bezier(0, 1.09, 0.53, 1.28), opacity var(--normal) ease-out;
    transform: scale(.5);
    opacity: 0; 
}

.bounce.visible {
    transform: scale(1);
    opacity: 1; 
}

.slide-in-left {
    transition: all var(--normal) ease-in-out, opacity var(--slow) ease-out;
    transform: translateX(-20vw);
    opacity: 0; 
}

.slide-in-left.visible {
    transform: translateX(0);
    opacity: 1; 
}

.slide-in-right {
    transition: all var(--normal) ease-in-out, opacity var(--slow) ease-out;
    transform: translateX(20vw);
    opacity: 0; 
}

.slide-in-right.visible {
    transform: translateX(0);
    opacity: 1; 
}

/* #endregion basic animations */

.card-deck {
    display: flex;
    flex-direction: row;
    min-width: clamp(150px, 250px, 250px);
    width: 90%;
    height: fit-content;
    max-height: 400px;
    overflow: hidden;
}

.card-deck > .container {
    --CardWith: clamp(150px, 100%, 250px);
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.card {
    position: relative;
    scroll-snap-align: start;
    width: var(--CardWith);
    height: clamp(80px, 400px, 400px);
    background-color: rgb(10, 10, 10);
    overflow: hidden;
    margin: 0 4px;
    border-radius: 5px;
    padding: 15px;
}

.card .title {
    position: absolute;
    transform: translateY(85%);
    color: rgb(137, 54, 245);
    text-shadow: 0 0 15px;
    font-size: 1.2em;
    transition: all var(--normal);
    height: 100%;
}

.card:hover .title {
    transform: translateY(10%);
    text-shadow: none;
}

.card-content {
    position: absolute;
    opacity: 0;
    transform: translateY(100%);
    transition: all var(--normal);
    height: 100%;
}

.card-logo {
    position: absolute;
    justify-content: center;
    left: 25%;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
    transition: all var(--normal);
}

.card:hover .card-logo.rotate {
    opacity: 0;
    transform: rotate(180deg);
}

.card:hover .card-logo.resize {
    opacity: 0;
    transform: scale(.7);
}

.card:hover .card-logo.rotate.resize {
    opacity: 0;
    transform: rotate(180deg) scale(.7);
}

.card:hover .card-logo.slide-up {
    opacity: 0;
    transform: translateY(-70%);
}

.card:hover .card-content {
    opacity: 1;
    transform: translateY(20%);
}

